{% extends 'base.html' %} {% block content %}

<h1>Workout Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ workout.activity }}</span>
    <p>How Long: {{ workout.howLong }}</p>
    <p>Description: {{ workout.description }}</p>
    <p>Time: {{workout.time}}</p>
  </div>
</div>
<script>
  var dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
  var selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}