{% extends 'base.html' %}
{% block content %}

<h1>Food Diary</h1>
{% if food.count %}
    {% for food in foods %}
    <a href="{% url 'detail' food.id %}">
    <div class="card">
    <a href="/foods/{{food.id}}"></a>
    <div class="card-content">
        <span class="card-title">{{ food.item }}</span>
        <p>Calories: {{ food.calories }}</p>
        <p>Description: {{ food.meal }}</p>
        <p>Time: {{food.time}}</p>
        <a href="{% url 'foods_update' food.id %}" class='btn'>Edit</a>
        <a href="{% url 'foods_delete' food.id %}" class='btn'>Delete</a>
    </div>
    </div>
    {% endfor %} 
{% else %}
    <h4>No Food in your Diary.</h4>
{% endif %}
{% endblock %}